.header {
  height: 60px;
  width: 100%;
  background: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.header__wrapper {
  height: inherit;
  width: inherit;
  padding: 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.link-logo {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.link-logo__text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: var(--link-text-color);
}