.modal-window_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.7);
  overflow: hidden;
}

.modal-window {
  width: 300px;
  height: 200px;
  background: var(--background-color);
}

// .modal {
//   position: fixed;
//   top: 40%;
//   left: 40%;
//   z-index: 99;
//   width: max-content;
//   height: max-content;
//   padding: 2rem;
//   border: 2px solid #000;
//   border-radius: 5px;
//   background: #fff;
//   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
// }

// .modal__wrapper {
//   display: flex;
//   flex-flow: column wrap;
//   gap: 1rem;
// }

// .modal__wrapper > h2 {
//   font-size: 2rem;
// }

// .modal__wrapper > input {
//   height: 40px;
//   padding: 0.1rem 0.5rem;
//   border: 1.5px solid #000;
//   border-radius: 5px;
//   font-size: 1.5rem;
// }

// .buttons__container {
//   min-width: 300px;
//   display: flex;
//   gap: 1rem;
// }

// .buttons__container > button {
//   border: 1px solid #000;
// }