* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

:root {
  --border-color: #d1d1d1;
  --link-text-color: #717171;
  --hover-background: #e6e6e6;
  --background-color: #fff;
  --text-color: #000;
}

html {
  font-size: 15px;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}


// font-family: 'Noto Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;